<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9OzzJ6E9Kae5Umzsw7Fy11AuncgaS4BY</string>
	<key>GCM_SENDER_ID</key>
	<string>118280824196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tracker.app.Tracker-iOS</string>
	<key>PROJECT_ID</key>
	<string>pills-tracker-f431a</string>
	<key>STORAGE_BUCKET</key>
	<string>pills-tracker-f431a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118280824196:ios:318d11549b309ca5e269d1</string>
</dict>
</plist>